<div class="container">
  <form class="form-1" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="showform">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required formControlName="username" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required formControlName="password" />
    <button type="submit">Login</button>
  </form>
  <img style="margin-top: 20%;margin-left: 43%;height: 250px;" src="assets/img/loading.gif" alt="..." *ngIf="!showform" />
</div>
