<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                <canvas baseChart
                        [type]="'doughnut'"
                        [datasets]="pieChartDatasets"
                        [labels]="pieChartLabels"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          <div class="col-md-6">
            <div class="card">
              <canvas baseChart
                      [type]="'bar'"
                      [datasets]="pieChartDatasets2"
                      [labels]="pieChartLabels2"
                      [options]="pieChartOptions2"
                      [plugins]="pieChartPlugins2"
                      [legend]="pieChartLegend2">
              </canvas>
            </div>
          </div>

<!--          table-->
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title">Table User</h4>
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>firstName</th>
                    <th>lastName</th>
                    <th>username</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of dataUser">
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.username}}</td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
    </div>
</div>
